@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap");

div {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 2.3rem;
  font-family: Poppins;
  font-weight: 800;
  color: dodgerblue;
}

input {
  font-family: Poppins;
  font-weight: 400;
  font-size: 1rem;
  padding: 10px;
  background-color: hsl(0, 0%, 93%);
  border: 1px solid hsl(0, 0%, 91%);
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  width: 16rem;
  margin-bottom: 8px;
}

input:focus {
  outline: 1px solid hsl(0, 0%, 91%);
}

input::placeholder {
  color: hsl(0, 0%, 50%);
  font-weight: 300;
}

.btn-add {
  font-family: Poppins;
  font-weight: 400;
  font-size: 1rem;
  display: block;
  margin: 8px auto;
  width: 16rem;
  color: whitesmoke;
  background-color: hsl(210, 100%, 56%);
  padding: 10px;
  border: 0;
  border-radius: 8px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.btn-add:hover {
  background-color: hsl(210, 100%, 48%);
}

.header {
  display: flex;
  background-color: hsl(0, 0%, 95%);
  height: 64px;
  margin-bottom: 32px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid hsl(0, 0%, 88%);
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
}

.notification {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-weight: 300;
}

.notification.added {
  color: hsl(210, 100%, 56%);
}

.notification.deleted {
  color: red;
}

.notes-wrapper {
  margin: 0 auto;
  width: 32rem;
}

.note {
  font-family: Poppins;
  font-weight: 400;
  padding-left: 2rem;
  display: grid;
  grid-template-columns: 5fr 1fr 0.7fr;
  align-items: center;
  height: 48px;
  color: hsl(0, 0%, 20%);
  border-bottom: 2px dotted hsl(0, 0%, 89%);
  text-align: left;
}

.note:nth-child(odd) {
  background-color: hsl(0, 0%, 97%);
}

.note:nth-child(even) {
  background-color: hsl(0, 0%, 92%);
}

.important {
  color: hsl(210, 100%, 56%);
}

label.toggle {
  right: 0;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
}

input.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

span.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsl(0, 0%, 70%);
  transition: 0.3s;
  border-radius: 30px;
}

span.toggle:before {
  position: absolute;
  padding-left: 1.5px;
  font-size: 0.9rem;
  line-height: 1.2rem;
  content: "\f005";
  font-family: "Font Awesome 6 free";
  font-weight: 400;
  height: 21px;
  width: 21px;
  left: 3px;
  bottom: 3px;
  background-color: #fff;
  color: hsl(0, 0%, 70%);
  border-radius: 50%;
  transition: 0.3s;
}

span.toggle:hover {
  background: hsl(0, 0%, 60%);
}

input.toggle:checked + span {
  background-color: hsl(210, 100%, 56%);
}

input.toggle:checked + span:before {
  transform: translateX(23px);
  color: hsl(210, 100%, 56%);
}

.filter-btn {
  background-color: hsl(0, 0%, 87%);
  padding: 10px;
  border: 1px solid white;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: Poppins;
  font-weight: 600;
  font-size: 0.8rem;
}

.filter-btn:disabled {
  background-color: hsl(0, 0%, 92%);
}

.filter-btn:first-child {
  border-radius: 10px 0px 0px 10px;
}

.filter-btn:last-child {
  border-radius: 0px 10px 10px 0px;
}
